<?xml version="1.0" encoding="utf-8"?>
<routes>
	<route>
		<url>^(\w+)\/(\w+)\/(\d+)$</url>
		<controller>mvc:controller</controller>
		<action>mvc:action</action>
		<parameters>
			<parameter>mvc:controller</parameter>
			<parameter>mvc:action</parameter>
			<parameter>id</parameter>
		</parameters>
		<verbs>
			<verb>GET</verb>
			<verb>POST</verb>
		</verbs>
	</route>
	<route>
		<url>^(\w+)\/(\w+)$</url>
		<controller>mvc:controller</controller>
		<action>mvc:action</action>
		<parameters>
			<parameter>mvc:controller</parameter>
			<parameter>mvc:action</parameter>
		</parameters>
		<verbs>
			<verb>GET</verb>
			<verb>POST</verb>
		</verbs>
	</route>
	<route>
		<url>^(\w+)$</url>
		<controller>mvc:controller</controller>
		<action>index</action>
		<parameters>
			<parameter>mvc:controller</parameter>
		</parameters>
		<verbs>
			<verb>GET</verb>
			<verb>POST</verb>
		</verbs>
	</route>
	<route>
		<url>^$</url>
		<controller>home</controller>
		<action>index</action>
		<parameters></parameters>
		<verbs>
			<verb>GET</verb>
			<verb>POST</verb>
		</verbs>
	</route>
</routes>
